@import '../../../styles/settings.scss';

form {
    input {
        width: 100%;
        padding: 5px;
        margin-bottom: 12px;
    }
    button {
        margin-top: 18px;
        color: $color-light;
        background-color: $color-dark;
        border: solid 3px;
        border-radius: $radius;
        border-color: $color-dark;
        height: 32px;
        width: 100%;
        font-family: $font-text;
        font-size: 15px;
    }
    button:focus {
        outline: none;
        border-color: $color-primary;
    }
    button:hover {
        color: $color-primary;
    }
    i {
        padding-left: 24px;

    }
    span {
        padding: 12px 24px;
    }
}